.layout {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 720px;
  min-width: 1000px; }

@media only screen and (max-width: 768px) {
  .layout {
    display: block;
    min-height: 0;
    min-width: 0; } }
