$sidebar-width: 320px;
$sidebar-bg-color: #2b2b2b;
$sidebar-min-width: 600px;

$sidebar-padding: 50px 0;

//#2b2b2b
.sidebar {
  width: 320px;
  position: relative;
  background-color: $sidebar-bg-color;

  min-height: $sidebar-min-width;

  padding: $sidebar-padding;
}
