$sidebar-min-width: 280px;
$sidebar-bg-color: #2b2b2b;
$sidebar-min-height: 600px;

$sidebar-padding: 180px 20px 0 20px;

.sidebar {
  min-width: $sidebar-min-width;
  position: relative;
  background-color: $sidebar-bg-color;

  min-height: $sidebar-min-width;

  padding: $sidebar-padding;
}
