.avatar {
  display: inline-block; }
  .avatar .avatar-image {
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 180px;
    border-width: 3px;
    border-style: double;
    border-color: #8e3a3a;
    margin: auto; }
  .avatar .avatar-name {
    text-align: center;
    color: #ff5a5f;
    font-size: 28px;
    padding: 10px 0;
    font-weight: 600; }

.sidebar .avatar {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
