.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$sidebar-banner-height: 10px;
.sidebar .banner {
  width: 80%;
  height: $sidebar-banner-height;
  margin: 0px auto;
}
