@import 'styles/colors.scss';

$social-media-icons-font-size: 24px;
$social-media-icons-padding: 10px 0;

.social-media-icons {
  display: flex;
  flex-direction: row;

  // Center horizontally
  justify-content: center;

  .social-media-icon {
    text-decoration: none;
    color: map-get($colors, pink);
    opacity: 0.4;
    font-size: $social-media-icons-font-size;

    padding: 0 5px;

    transition: 0.2s opacity;

    &:hover {
      opacity: 0.7;
    }
  }
}

$sidebar-social-media-icons-border-width: 2px;
$sidebar-social-media-icons-border-color: map-get($colors, line);
.sidebar .social-media-icons {
  padding: $social-media-icons-padding;
  border-top: $sidebar-social-media-icons-border-width solid
    $sidebar-social-media-icons-border-color;
  border-bottom: $sidebar-social-media-icons-border-width solid
    $sidebar-social-media-icons-border-color;
}
