.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .social-media-icons .social-media-icon {
    text-decoration: none;
    color: #ff5a5f;
    opacity: 0.4;
    font-size: 24px;
    padding: 0 5px;
    transition: 0.2s opacity; }
    .social-media-icons .social-media-icon:hover {
      opacity: 0.7; }

.sidebar .social-media-icons {
  padding: 10px 0;
  border-top: 2px solid #634b4b;
  border-bottom: 2px solid #634b4b; }
